* {
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
}

.first-r a, .product a{
    text-decoration: none;
}

.container{
    padding-top: 100px;
}
.first-r {
    display: flex;
}

.back {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 10px;
    font-weight: 500;
    color: #1E1E1E;
}
.back p{
    margin-top: 15px;
}

.first-r h1 {
    display: flex;
    margin-left: 445px;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
}

.product{
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 105%;
    gap: 40px;
    justify-content: start;
}

.p-card{
    width: 230px;
    height: 295px;
    border: 0.3px solid #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

    box-sizing: border-box;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;

  user-select: none;

    
}

.p-card:hover {
    border: 0.5px solid #1E1E1E;
    transform: scale(1.05);
  }
  
  .p-card:active {
    transform: scale(0.95) ;
  }

.top-r{
    padding: 5px 10px;
    border: 0.3px solid #1E1E1E;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    margin: -20px 0px 15px ;
    background-color: white;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    color: #1E1E1E;
}
.p-card img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}
.desc{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 180px;
}
.l-row{
    width: 180px;
    display: flex;
    margin-top: -15px;
    justify-content: space-between;
    align-items: center;
}
.desc p:first-child{
    font-weight: 600;
    color: #1E1E1E;

}
.l-row p:last-child{
    font-size: 13px;
    font-weight: 300px;
    opacity: 0.5;
    color: #1E1E1E;
}



footer{
    display: none;
}

